<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ SITEURL }}/{{ FAVICON }}" type="{{ FAVICON_TYPE }}">
    <link rel="shortcut icon" href="{{ SITEURL }}/{{ FAVICON }}" type="{{ FAVICON_TYPE }}">
    <title>{{ SITENAME }}</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="theme/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="theme/css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="theme/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Abrir navegación</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand hidden-sm hidden-xs" href="#page-top">{{ SITENAME }}</a>
                <a class="navbar-brand hidden-md hidden-lg" href="#page-top">{% if ALT_NAME %}{{ ALT_NAME }}{% else %}{{ SITENAME }}{% endif %}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    {% for target, text in MENU_ITEMS %}
                    <li class="page-scroll">
                        <a href="{{ target }}">{{ text }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="{{ SITEURL }}/{{ PROFILE }}" alt="" height="250" width="250">
                    <div class="intro-text">
                        <span class="name">{{ SITENAME }}</span>
                        <hr class="star-light">
                        <span class="skills">{{ SITESUBTITLE }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portafolio</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                {% for href, image in PORTFOLIO_ITEMS %}
                <div class="col-sm-4 portfolio-item">
                    <a href="{{ href }}" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{ SITEURL }}/{{ image }}" class="img-responsive" alt="">
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sobre nosotros</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-4 col-lg-offset-2">
                <div class="thumbnail">
                  <img style="margin-top:10px;" src="{{ SITEURL }}/{{ ROGER_IMAGE }}" class="img-circle" width="250px" height="250px">
                  <div style="margin-left:10px; margin-right:10px;" class="caption">
                    <h3>Roger González</h3>
                    <p style="font-size:16px;">Roger es un programador web con experiencia en desarrollo de aplicaciones en Python,
                    Wordpress y cualquier tecnología que se le atraviese.</p>
                    <p><a href="https://github.com/Rogergonzalez21" target="_blank" class="btn btn-default" role="button"><i class="fa fa-github"></i> Github</a> <a href="http://rogerandresgonzalez.com.ve" target="_blank" class="btn btn-default" role="button"><i class="fa fa-globe"></i> Web</a></p>
                  </div>
                </div>
              </div>
               <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <img style="margin-top:10px;" src="{{ SITEURL }}/{{ JUAN_IMAGE }}" class="img-circle" width="250px" height="250px">
                  <div style="margin-left:10px; margin-right:10px;" class="caption">
                    <h3>Juan González</h3>
                     <p style="font-size:16px;">
                        Juan Carlos es estudiante de diseño gráfico con amplia experiencia en diseño de logos, banners, vectores y ediciones en general. Tambien ama los gatos.
                    </p>
                    <p><a href="http://www.behance.com/juancarlos242" target="_blank" class="btn btn-default" role="button"><i class="fa fa-behance"></i> Behance</a> <a href="https://www.facebook.com/Juancarlos2429" target="_blank" class="btn btn-default" role="button"><i class="fa fa-facebook"></i> Facebook</a></p>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Servicios</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div style="margin-top:20px" class="col-sm-6 col-md-4 text-center">
                    <img src="{{ SITEURL }}/images/onepage/pc.png" width="60%">
                    <h3>Reparación de PC</h3>
                    <p class="text-left" style="font-size:16px;">
                        ¿Tienes problemas con tu computadora? ¿Está muy lenta, tiene virus, o simplemente no enciende? ¡Entonces tienes la solución! En Compuservicios Delforn reparamos tu computadora en tiempo record.
                    </p>
                </div>
                <div style="margin-top:20px" class="col-sm-6 col-md-4 text-center">
                    <img src="{{ SITEURL }}/images/onepage/web.png" width="60%">
                    <h3>Diseño web</h3>
                    <p class="text-left" style="font-size:16px;">
                        En este mundo de información, todos necesitan una página web, ¿Tu empresa tiene una?. En Compuservicios Delforn ponemos tu empresa en la web, mejorando tus ventas y tu búsqueda de clientes.
                    </p>
                </div>
                <div style="margin-top:20px" class="col-sm-6 col-md-4 text-center">
                    <img src="{{ SITEURL }}/images/onepage/imagen.png" width="60%">
                    <h3>Diseño gráfico</h3>
                    <p class="text-left" style="font-size:16px;">
                        No te conformes con diseños poco agradables a la vista. En Compuservicios Delforn hacemos diseños de calidad para tu empresa, evento, ¡O lo que quieras!
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="success" id="blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Blog</h2>
                    <hr class="star-light">
                    <p>
                        Conoce nuestro blog sobre mantenimiento de computadoras. Tutoriales gratuitos que puedes
                        seguir tu mismo desde tu casa.
                    </p>
                </div>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center" style="margin-top:20px;">
                <a href="{{ SITEURL }}/blog" class="btn btn-lg btn-outline">
                    <i class="fa fa-share-square"></i> Ir al blog
                </a>
            </div> 
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contacto</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row text-justify">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Si necesitas ayuda con tu computadora, o con diseños de páginas web, contacta a:</p>
                    <a class="btn btn-primary" style="color:white;" href="mailto:programador@compuserviciosdelforn.com.ve"><i class="fa fa-envelope"></i> programador@compuserviciosdelforn.com.ve</a>
                </div>
                <div class="col-lg-4">
                    <p>Si buscas un diseñador gráfico para tus proyectos, contacta a:</p>
                    <a class="btn btn-primary" style="color:white;" href="mailto:disenador@compuserviciosdelforn.com.ve"><i class="fa fa-envelope"></i> disenador@compuserviciosdelforn.com.ve</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Ubicación</h3>
                        <p>Trigal Centro, Valencia<br>Venezuela</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Redes sociales</h3>
                        {% if SOCIAL %}
                        <ul class="list-inline">
                        {% for icon, link in SOCIAL %}
                            <li>
                                <a href="{{ link }}" class="btn-social btn-outline"><i class="fa fa-fw fa-{{ icon }}"></i></a>
                            </li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>CS Delforn</h3>
                        <div>
                            <img src="{{ SITEURL }}/images/onepage/pc_w.png" width="15%">
                            <img style="margin-left:30px; margin-right:30px;" src="{{ SITEURL }}/images/onepage/web_w.png" width="15%">
                            <img src="{{ SITEURL }}/images/onepage/imagen_w.png" width="15%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        {{ FOOTER }}
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->
    {% for href, name, image, description, client, clienturl, date, service in PORTFOLIO_DESCRIPTION  %}
    <div class="portfolio-modal modal fade" id="{{ href }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ name }}</h2>
                            <hr class="star-primary">
                            <img src="{{ SITEURL }}/{{ image }}" class="img-responsive img-centered" alt="">
                            <p>{{ description }}</p>
                            <ul class="list-inline item-details">
                                <li>Cliente:
                                    <strong><a href="{{ clienturl }}">{{ client }}</a>
                                    </strong>
                                </li>
                                <li>Fecha:
                                    <strong>{{ date }}</strong>
                                </li>
                                <li>Servicio:
                                    <strong>{{ service }}</strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- jQuery -->
    <script src="theme/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="theme/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="theme/js/classie.js"></script>
    <script src="theme/js/cbpAnimatedHeader.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="theme/js/freelancer.js"></script>
{% include 'analytics.html' %}
</body>

</html>
